<div>
<h2>Add a new recipe</h2>
<form action="/" method="POST" id="addRecipe">
  <div class="form-group">
    <label for="formGroupExampleInput">Title</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Another label</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </div>
</form>

<form action="/" method="POST" id="createmovie" class="button-size">
  <textarea type="text" name="movie"></textarea>
  <button type="submit">Save</button>
</form>
</div>





