<div>
  <h2>
    Add a new recipe
  </h2>
  <form action="/" method="POST" id="addRecipe">
    <div class="form-group">
      <label for="formGroupExampleInput">
        Title
      </label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="Example input"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">
        Ingredients
      </label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="5"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">
        Method
      </label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="6"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">
        Credit (if any)
      </label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="Example input"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">
        Source (if any)
      </label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="Example input"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">
        Another label
      </label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput2"
        placeholder="Another input"
      />
    </div>

    <div class="form-group">
      <label for="exampleFormControlFile1">
        Select Image
      </label>
      <input
        type="file"
        class="form-control-file"
        id="exampleFormControlFile1"
      />
    </div>
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>
