{{!-- Insert carousel --}}
{{> carousel_block }}

<div class="container marketing">

    <hr class="featurette-divider">

    <div class="row featurette shadow-lg shadow-lg" id="recipe-one">
        <div class="col-md-7">
            <h2 class="featurette-heading">Mango Salsa Salmon</h2>
            <p class="lead">
                Preheat the oven broiler. Line a broiler pan with foil.<br>
                Broil salmon steaks on the prepared pan 12 minutes, or until easily flaked with a fork.<br>
            </p>
            <button type="button" class="btn btn-warning">More to discover</button>
        </div>
        <div class="col-md-5">
            <img src="https://www.cookingclassy.com/wp-content/uploads/2016/06/lime_salmon_mango_avocado_salsa_coconut_rice6..jpg"
                alt="Most Favourable Recipe" class="w-100 d-block">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette shadow-lg" id="recipe-two">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Green Chile and Rice Casserole</h2>
            <p class="lead">
                Preheat the oven broiler. Line a broiler pan with foil.<br>
                Broil salmon steaks on the prepared pan 12 minutes, or until easily flaked with a fork.<br>
                Heat olive oil in a medium saucepan over medium heat, and saute onion until tender.<br>
            </p>
            <button type="button" class="btn btn-warning">More to discover</button>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="https://reciperunner.com/wp-content/uploads/2019/10/Green-Chile-Chicken-Enchilada-Quinoa-Casserole-Pic.jpg"
                alt="Most Favourable Recipe" class="w-100 d-block">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette shadow-lg" id="recipe-three">
        <div class="col-md-7">
            <h2 class="featurette-heading">Christmas Eggnog</h2>
            <p class="lead">Beat the egg whites until stiff, gradually adding in 3/4 cup sugar. <br>
                Set aside. Beat the egg yolks until they are thick and pale and add the other 3/4 cup sugar and stir in
                rye whiskey. <br>
                Blend well. Fold the egg white mixture into the yolk mixture and add the brandy and the rum.
            </p>
            <button type="button" class="btn btn-warning">More to discover</button>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="https://www.alsothecrumbsplease.com/wp-content/uploads/2019/09/Eggnog-13.jpg"
                alt="Most Favourable Recipe" class="w-100 d-block">
        </div>
    </div>

    <hr class="featurette-divider mb-4">
    <!-- /END THE FEATURETTES -->
</div><!-- /.container -->

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/assets/js/main.js" type="text/javascript"></script>