<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Login</title>

    <link rel="stylesheet" href="/assests/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/assets/css/login-style.css" type="text/css" /> 
</head>
<body>

    {{> user/ login-block}}

</body>
</html>