<div class="jumbotron .bg-danger w-75 m-auto">
  <h1 class="display-4">Resource Not found</h1>
  <p class="lead">Sorry. You are not authorized to view this resource.</p>
  <hr class="my-4">
  {{#unless username}}
  <p>Try logging in? </p>
  <a class="btn btn-danger btn-sm" href="#" role="button">Log In</a>
  {{/unless}}
</div>