<div class="album py-5">
  <div class="container">
    <div class="row">
      {{#each recipes }}
        {{> recipe_card recipe=this.recipe}}
      {{else}}
        <div class="col card mb-4 shadow">
          <h5 class="p-4">You have no recipe.</h5>
        </div>
      {{/each}}
    </div>
  </div>
</div>
