
{{> carousel_block }}

<div class="album py-5">
  <div class="container">
    <div class="row">
      {{#each result }}
        {{> recipe_card recipe=this.recipe}}
      {{/each}}
      {{ noresult }}
    </div>
  </div>
</div>
