
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      {{#each result }}
        {{> recipe_card recipe=this.recipe}}
      {{/each}}
    </div>
  </div>
</div>
<script src="/assets/js/main.js" type="text/javascript"></script>