<div class="album py-5">
  <div class="container">
    <div class="row">
      {{#each recipes }}
        {{> recipe_card recipe=this.recipe}}
      {{else}}
        <p>You have no recipe.</p>
      {{/each}}
    </div>
  </div>
</div>
