<div class="album py-5">
  <div class="container">
    <div class="row">
      {{#each recipes }}
        {{> recipe_card this.recipe}}
      {{/each}}
      {{ noresult }}
    </div>
  </div>
</div>
