<div class="container" id="user-page">
    <div class="card mx-auto mt-5">
        <div class="card-body">
            <h5 class="card-title">
                Username
            </h5>
            <p class="card-text">
                You own 2 recipes, and have favourited 3 recipes.
                <div class="row mx-md-n5">
                    <div class="col px-md-5">
                        <div class="p-3 border bg-light">
                            <div class="list-group">
                                <p>You created these recipes:</p>
                                <button type="button" class="list-group-item list-group-item-action active">
                                    Recipe One
                                </button>
                                <button type="button" class="list-group-item list-group-item-action">Recipe Two</button>
                                <button type="button" class="list-group-item list-group-item-action">Recipe Three</button>
                            </div>
                        </div>
                    </div>
                    <div class="col px-md-5">
                        <div class="p-3 border bg-light">
                            <div class="list-group">
                                <p>You added these recipes to your favourites:</p>
                                <button type="button" class="list-group-item list-group-item-action active">
                                    Favourite One
                                </button>
                                <button type="button" class="list-group-item list-group-item-action">Favourite
                                    Two</button>
                                <button type="button" class="list-group-item list-group-item-action">Favourite
                                    Three</button>
                            </div>
                        </div>
                    </div>
                </div>
            </p>
        </div>
    </div>
</div>