<div class="row no-gutters bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="..." class="w-100" alt="...">
  </div>
  <div class="col-md-6 position-static p-4 pl-md-0">
    <h4 class="mt-0 ml-1 mb-3">This is the recipe title</h4>
    <h6 class="ml-1 card-subtitle mb-2 text-muted">
      Created by: <a href="#">HHOP</a>
      &nbsp;
      &nbsp;
      &nbsp;
      Favourites: 10
    </h6>

    <div class="card" style="width: 15rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">500g milk</li>
        <li class="list-group-item">1kg beef</li>
        <li class="list-group-item">1 apple</li>
      </ul>
    </div>
    <p class="mt-3 mb-3 ml-1">
      This is the recipe instruction.
    </p>
    <div class="mt-3 d-flex bd-highlight mb-3">
      <a href="#" class="mr-auto p-2 bd-highlight">Previous</a>
      <a href="#" class="p-2 bd-highlight">Next</a>
    </div>
  </div>
</div>