<head>

    {{> head / signupHead-block}}

</head>
<body>
    <header>
        {{> header / mainHeader-block}}      
    </header>

    {{> body / signupBody-block}}

</body>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="/assets/js/login.js" type="text/javascript"></script>