<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/fonts/fontawesome/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/searchDisp-style.css" type="text/css" />
<link rel="stylesheet" href="/assets/css/main-style.css" type="text/css" />

<title>Album example for Bootstrap</title>